
<form method="post" action="my.php?item=buddylist">
<input type="hidden" name="formhash" value="{FORMHASH}" />

<table summary="{lang my_buddylist}" cellspacing="0" cellpadding="0" width="100%">
	<thead>
		<tr>
			<td class="selector">{lang delete_check}</td>
			<td class="user">{lang username}</td>
			<td>{lang my_buddylist_note}</td>
			<td class="time">{lang my_buddylist_status}</td>
		</tr>
	</thead>
	<tbody>
	<!--{if $buddylist}-->
		<!--{loop $buddylist $buddy}-->
			<tr>
				<td class="selector"><input class="checkbox" type="checkbox" name="delete[]" value="$buddy[friendid]" /></td>
				<td><a href="space.php?uid=$buddy[friendid]" target="_blank">$buddy[username]</a></td>
				<td><input type="text" name="descriptionnew[{$buddy[friendid]}]" value="$buddy[comment]" style="width: 90%" /></td>
				<td><!--{if $buddy[direction] == 1}-->{lang my_buddylist_status_1}<!--{elseif $buddy[direction] == 3}-->{lang my_buddylist_status_3}<!--{/if}--></td>
			</tr>
		<!--{/loop}-->
		<tr class="btns">
			<td class="selector"></td>
			<td colspan="3"><button class="submit" type="submit" name="buddysubmit" id="buddysubmit" value="true">{lang submit}</button></td>
		</tr>
	<!--{else}-->
		<tr><td colspan="4">{lang my_buddylist_none}</td></tr>
	<!--{/if}-->
	</tbody>
</table>
</form>
